/* Custom Styles */
/* TODO: later explore option to merge this in one file*/
.p-datatable-table .p-datatable-tbody > tr:nth-child(even) {
  /* background-color: rgba(245, 243, 242, 0.5); */
  background-color: #f7f9fb;
}

.p-datatable-table .p-datatable-tbody > tr:nth-child(odd) {
  background-color: var(--surface-0);
}

.p-datatable .p-datatable-tbody > tr > td  {
  border: none;
}

.bg-shade {
  background-color: #e8ebee;
}

.bg-shade1 {
  background-color: #eceff2;
}

.p-badge-outlined {
  background-color: var(--surface-0);
  color: var(--text-color);
  border-width: 1px;
  border-color: var(--primary-color);
  border-style: solid;
}
.p-chips-w-full ul, input {
  width: 100%;
}

.p-chips-input-sm input {
  font-size: 0.875rem;
  padding: 0.4375rem 0.65625rem;
}

.p-button.p-button-xs {
  font-size: 0.875rem;
  padding: 0.225rem 0.55rem;
}

.font-medium-502 {
  font-weight: 502;
}

.toast-close-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for the close button */
}

.toast-bg-error {
  background: var(--red-400);
}

.toast-bg-success {
  background: var(--primary-color)
}

.bg-json-or-code-view {
  background-color: #f5f7f9;
}